/* Site Wide */

html {margin:0;}
body {background: #fefefe; margin:0;padding: 0;}
a, a img, img {border-style:none; color: #000;}

/* Typography */
body {font: 14px/22px 'Helvetica Neue', Helvetica, Arial, san-serif; }
@media only screen and (max-width: 600px) {
  body {font: 16px/25px 'Helvetica Neue', Helvetica, Arial, san-serif;}

}
p {font-size: 100%; font-weight: 200;}
h2 {font: 114%/114% 'Helvetica Neue', Helvetica, Arial, san-serif;font-weight: 800;margin:8% 0 0;}
em {font: 150%/150% 'Helvetica Neue', Helvetica, Arial, san-serif;font-style: italic;}

/* Page */
.page {max-width: 900px; position: relative;}
.left_column {max-width: 450px;position:relative;}

.left_column {width: 42%; padding: 0 4%; position: relative;}
.single_column {width: 92%; padding: 0 4%; position: relative; clear:both;}
.single_column_left {width: 96%; padding: 0 0 4% 4%;overflow: auto;}
.right_column {width: 42%; padding: 0 4%; position: relative; float:right;}
.horizontal_column {width: 92%; padding: 0 4%; position: relative;}

@media only screen and (max-width: 600px) {
  .left_column {width: 96%; padding: 0 2%; position: relative;}
  .single_column {width: 96%; padding: 0 2%; position: relative;}
  .single_column_left {width: 98%; padding: 0 0 4% 2%;}
  .right_column {width: 96%; padding: 0 2%; position: relative; float:none;}
  .horizontal_column {width: 96%; padding: 0 2%; position: relative;}
}

/* Header */
#header {padding: 20px 4% 10px; z-index: 10;background-color: rgba(255,255,255,1);}
@media only screen and (max-width: 600px) {
  #header {padding: 20px 2% 10px;}
}

#header h1 {display:none;}
#nameplate {padding: 0; text-transform:uppercase;font-size: 24px;text-align:left;background-color:transparent;}
#nameplate_div {width:94px;}
#header h2 {margin: .3% 0 0 .3%;font-style: italic;font-weight: normal;}

/* Nav */
#nav {position:absolute; top: 0; bottom: 0; left: 50%; padding-top: 15%;}
@media only screen and (max-width: 600px) {
  #nav {position:static; top: auto; bottom: auto; left: 0%;padding-top: 8%;}
}
#nav h2 {margin: 0px 0 10px;}
#nav h2 a {text-decoration: none;}
#nav h2:hover a {background-color: #f3ff8e; text-decoration: underline;}
#nav ul {margin: 0 0 30px; padding:0;list-style-type:none;}
#nav li {display:block;}
#nav ul a {color: #000; font: normal 16px/30px 'Helvetica Neue', Helvetica, arial san-serif; text-decoration:underline; padding: 0;background: #fff;}
#nav ul a:hover {color: #666;}
#nav li.no_work a {color: #000;text-decoration: none;}
#nav li.no_work a:hover {color: #000;}
#nav .selected a{color: #888;text-decoration:none;font-weight:normal;}

.about #nav_about a,
.contact #nav_contact a,
.events #nav_news a,
.home #nav_home a,
.category #nav_work a{color: #555;text-decoration:underline;font-weight:bold;}

#subnav {position:fixed; top:40px; left: 0;margin: 0px auto; padding: 0; list-style-type:none; text-align:center;width:100%;z-index: 11;}
#subnav li {display:inline;}
#subnav a {color: #000; font: 12px/12px 'Helvetica Neue', Helvetica, san-serif normal; text-decoration:none;padding: 0 5px;}
#subnav a:hover {color: #333;}
#subnav .selected a {color: #111;font-weight: normal;text-decoration:none;background-color:#ccc;}

h1 {margin: 0 auto;font: bold 18px/24px 'Helvetica Neue', Helvetica, san-serif;margin:0;}

/* Home Page */
body.home .happenings {}

body.home .happenings_menu {font-style:italic;}
body.home .happenings_menu .showing {background-color: #f3ff8e;border-bottom: 1px dashed #e2003d;}
body.home .happenings_menu a {display:inline-block;cursor: pointer;margin: 1em 1em 1em 0;}

body.home .happenings_display {width: 100%;overflow: auto;}
body.home .happenings_display .display_tag {width: 100%;}
body.home .happenings_display .display_tag a,
body.home .happenings_display .display_tag div {margin: 0 0 3% 0; display:block;}
body.home .happenings_display .display_tag img {width: 100%;display:block;}
body.home .happenings_display .display_tag .video {position:relative; padding-bottom: 56%; }
body.home .happenings_display .display_tag iframe {position:absolute; top:0; left: 0; width: 100%; height: 100%;}

/* Happening Page */
body.happenings .happening {}
body.happenings .happening h2 {
  font: bold 18px/26px 'Helvetica Neue', Helvetica, arial san-serif;
}
body.happenings .happening img {width:100%;margin: 0 3% 3% 0}
body.happenings .happening p {
  font: normal 18px/26px 'Helvetica Neue', Helvetica, arial san-serif;
}

/* Projects Page */

.group_projects h2 {
  margin: 0 0 5%;

  font: bold 100%/100% 'Helvetica Neue', Helvetica, arial san-serif;
}

.group_projects .project {margin: 5% 0 8%;overflow: auto;clear:both;}

  .group_projects .column1 {padding: 0 4%;width: 42%;float:left;  }
  .group_projects .column2 {width: 46%;padding: 0 4% 0 0;float:right;font: normal 128%/148% 'Helvetica Neue', Helvetica, arial san-serif;}
  @media only screen and (max-width: 600px) {
    .group_projects .column1 {padding: 0 2%; width: 96%;}
    .group_projects .column2 {width: 96%; padding: 0 2%;font: normal 116%/116% 'Helvetica Neue', Helvetica, arial san-serif;}
  }

  .group_projects .column1 img {width: 100%;}


/* Work Page */
#category_attributes {margin: 2% 0 0;font: normal 100%/100% 'Helvetica Neue', 'Helvetica', 'san-serif';}
#category_attributes p {font: normal 100%/100% 'Helvetica Neue', 'Helvetica', 'san-serif';}
#category_attributes h2 {}
#category_attributes h2 a {}
#category_attributes a {text-decoration:underline;padding: 0 5px 0 0;cursor:pointer;}

#bio a.left {float: left; margin: 10px 10px 8px 0;}
#bio a.right {float: right; margin: 10px 0 8px 10px;}
#bio a.top {margin-top: 0;}

#bio p {margin: 10px 0; fon}

/* Index Block */
.index.single_column {overflow:hidden;margin: 0 0 0 0;}

/* Work Block */
.index .block {margin:4% 4% 0 0;float:left;overflow: auto;}
@media only screen and (max-width: 600px) {
  .index .block {margin:2% 2% 0 0;}
}
.index .block img {display: block;max-width: 100%;}
.index .block:hover {outline: none;}
.index .block {font: normal 16px/36px 'Helvetica Neue', Helvetica, serif;}
.index .block {}
.index .block.link {font: italic normal 150%/150% 'Helvetica Neue', Helvetica, serif;clear:both; display: block; float:none; padding: 2% 0 0; margin: 0;}


.work_show {padding: 0 4%;margin:0;overflow:hidden;}
.work_show .block {position:relative;margin:10px 20px 0 0;float:left;}
.work_show .info {position:absolute; top: 600px; background-color: rgb(255,255,255); width: 410px; }
.work_show .title {}
.work_show .medium, .work_show .date, .work_show .size {font: italic 12px/18px 'Helvetica Neue', Helvetica, serif;color: #111;}
.work_show .info.large .title, .work_show .info.large .medium, .work_show .info.large .date, .work_show .info.large .size {font:  italic normal  22px/48px 'Helvetica Neue', Helvetica, serif;color: #111;}
.work_show .description {font: normal 12px/18px 'Arial', san-serif;color: #111;margin-bottom: 1em}
.work_show p span {display:block;}
.work_show p.caption {position: absolute; top: 287px; left: 5px; font: normal 16px/18px 'Helvetica Neue', Helvetica, serif;color: #7d797a;}

/* Footer */

.footer {margin: 0 0 10%;}
.footer a {display:block; text-decoration: underline;}

