body {
  font-family: "Helvetica", "Arial", "san-serif";
  margin: 0;
}

a {
  color: #30c6cf;
}

/* Primary layout ------------------------------- */

.primary .item {
  margin: 3%;
  clear:both;
  overflow: auto;
}

.primary .item .photo {
  float:left;
  width: 50%;
  margin-left: 10%;
}

.primary .item .photo img {
  width: 100%;
}

.primary .item .predecessors {
  float:left;
  width: 30%;
  margin: 0;
  padding-left: 5%;
}

.primary .item .predecessors li {
  list-style-type: none;
  display:inline-block;
}

/* House layout ------------------------------- */

.category.house {
  font-family: "Courier" monospace;
  font-size: 300%;
  background-color: #dd6300;
}

.category.house h2 {
  margin: 10% 10% 5%;
}

.category.house .item{
  margin: 4% 10%;
}

.category.house a {
  color: #0056f4;
}

/* ------------------------------- */

.category.child {
  font-family: "Helvetica" "Arial" "san-serif";
  font-size: 200%;
  background-color: #f4eb00;
  text-align: right;
}


.category.child h2 {
  font-weight: normal;
  margin: 10% 10% 5%;
}

.category.child .item {
  margin: 2% 0 2% 10%;
  width: 35%;
  float:left;
}

.category.child .item img {
  display: block;
  width: 100%;
}

.category.child a {
  display: block;
  margin: 5% 0;
  font-size: 100%;
  color: #000;
}

.category.child .description {
  font-size: 75%;
}
