
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />

  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/fonts.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/sitewide.css')}}">


  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>




  <script type='text/javascript'>
    $(document).ready(function(){
    })
  </script>

  <style type="text/css">
  </style>



</head>
<body class='contact'>
  <div class='page'>

    <div id='nav'>
      <a href='/category/simulacra'>Simulacra</a>
      <a href='/category/projects'>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>



    <div class='column1'>

      {% for item in category.succset %}
        {% if item.vertex_type == 'text' %}
          {% if item.title %}
            <h2 class='title'>{{ item.title }}</h2>
          {% endif %}
          {% if item.text %}
            <div class='text'>{{ item.text }}</div>
          {% endif %}
        {% endif %}

        {% if item.vertex_type == 'photo' %}
        <div class='photo'>
            <img src='{{item.href}}?w=1000' alt='' />
        </div>

        {% endif %}


      {% endfor %}



    </div>
  </div>

</body>
</html>
