/* Site Wide */

html {margin:0;}
body {background: #fefefe; margin:0;padding:70px 0 0;}
a, a img, img {border-style:none; text-decoration: none;color: #000;}

/* Typography */
body {font: 10px/14px 'Helvetica Neue', Helvetica, Arial, san-serif; font-weight: 200;}
p {font: normal 14px/22px 'Helvetica Neue', Helvetica, 'san-serif';}
h2 {font: 15px/21px 'Helvetica Neue', Helvetica, Arial, san-serif;font-weight: 800;margin:20px 0 20px;}


/* Page */
.left_column {max-width: 450px;position:relative;}

.left_column {width: 42%; padding: 0 4%; position: relative;}
.single_column {width: 92%; padding: 0 4%; position: relative;}
.horizontal_column {width: 92%; padding: 0 4%; position: relative;}

/* Header */
#header {padding:0;position:fixed; top:0px; left: 0;z-index: 10;background-color: rgba(255,255,255,0.95); width: 100%; height: 50px;}
#header h1 {display:none;}
#nameplate {width:98%; position: absolute; top: 0px; left:4%; text-transform:uppercase;font-size: 24px;text-align:left;padding: 20px 0 10px;background-color:transparent;}
#nameplate_div {width:94px;}
#header h2 {position:absolute;top:2px;  left:4%; right: 0; margin-left: 300px;}

/* Nav */
#nav {position:fixed; top: 80px; left: 50%;padding: 0 0 0 4%; width: 48%;}
#nav ul { padding:0;list-style-type:none;margin:0;}
#nav li {display:block;}
#nav ul a {color: #000; font: normal 16px/30px 'Helvetica Neue', Helvetica, arial san-serif; text-decoration:underline; padding: 0;background: #fff;}
#nav a {color: #000; text-decoration:underline;}
#nav a:hover {color: #666;}
#nav li.no_work a {color: #000;text-decoration: none;}
#nav li.no_work a:hover {color: #000;}
#nav .selected a{color: #888;text-decoration:none;font-weight:normal;}

.about #nav_about a,
.contact #nav_contact a,
.events #nav_news a,
.home #nav_home a,
.category #nav_work a{color: #555;text-decoration:underline;font-weight:bold;}

#subnav {position:fixed; top:40px; left: 0;margin: 0px auto; padding: 0; list-style-type:none; text-align:center;width:100%;z-index: 11;}
#subnav li {display:inline;}
#subnav a {color: #000; font: 12px/12px 'Helvetica Neue', Helvetica, san-serif normal; text-decoration:none;padding: 0 5px;}
#subnav a:hover {color: #333;}
#subnav .selected a {color: #111;font-weight: normal;text-decoration:none;background-color:#ccc;}

h1 {margin: 0 auto;font: bold 18px/24px 'Helvetica Neue', Helvetica, san-serif;margin:0;}

/* Home Page */
body.home .happenings {}

body.home .happenings_menu {font-style:italic;font-size:12px;margin: 0 0 5px;}
body.home .happenings_menu a {display:inline-block;margin: 1em 1em 1em 0;}

body.home .happenings_display {width: 100%;overflow: auto;}
body.home .happenings_display .display_tag {width: 100%;}
body.home .happenings_display .display_tag img {width: 100%;margin: 0 3% 3% 0}

body.home #about_text {font: normal 16px/30px 'Helvetica Neue', Helvetica, arial san-serif; text-decoration:none; padding: 0;}

/* Happening Page */
body.happenings .happening {}
body.happenings .happening img {width:100%;margin: 0 3% 3% 0}
body.happenings .happening p {
  font: normal 40px/55px 'Helvetica Neue', Helvetica, arial san-serif;
}

/* Work Page */


/* Work Page */
#category_tag {margin: 0px;font: normal 12px/18px 'Helvetica Neue', Helvetica, san-serif;width: 500px;}
#category_tag p {font: normal 12px/18px 'Helvetica Neue', Helvetica, san-serif;width: 500px;}
#category_tag h2 {margin: 18px 0;font-weight: normal;}
#category_tag h2 a {font-size: 10px;font-style:italic;padding: 0 20px;}
#category_tag a {text-decoration:underline;padding: 0 5px 0 0;}

/* Index Block */
.work_index {overflow:hidden;min-width:500px;}

/* Work Block */
.work_index .work.block {margin:10px 20px 0 0;float:left;}
.work_index .work.block:hover {outline: none;}
.work_index .work.block h2 {font: normal 16px/36px 'Helvetica Neue', Helvetica, serif; color: #111;}
.work_index .work.block .info {font: normal 14px/18px 'Helvetica Neue', Helvetica, serif;color: #333;}
.work_index .work.block span {display:block;}
.work_index .work.block:hover {}


.work_show {padding:0 10px 0 30px;margin:0;overflow:hidden;}
.work_show .block {position:relative;margin:10px 20px 0 0;float:left;}
.work_show .info {position:absolute; top: 600px; background-color: rgb(255,255,255); width: 410px; }
.work_show .title {}
.work_show .medium, .work_show .date, .work_show .size {font: italic 12px/18px 'Helvetica Neue', Helvetica, serif;color: #111;}
.work_show .info.large .title, .work_show .info.large .medium, .work_show .info.large .date, .work_show .info.large .size {font:  italic normal  22px/48px 'Helvetica Neue', Helvetica, serif;color: #111;}
.work_show .description {font: normal 12px/18px 'Arial', san-serif;color: #111;margin-bottom: 1em}
.work_show p span {display:block;}
.work_show p.caption {position: absolute; top: 287px; left: 5px; font: normal 16px/18px 'Helvetica Neue', Helvetica, serif;color: #7d797a;}

/* Event Page */

/* Index Block */
.event_index {padding:24px;margin:0px auto 100px;overflow:hidden;width: 470px;}

/* Event Block */
.event_index .event.block {display:block;padding: 20px;background-color: #f8f8f8; margin: 0 auto 30px;}
.event_index .event.block h2 {font: normal 24px/30px 'Helvetica Neue', Helvetica, serif; letter-spacing: 0px;color: #7d797a;width: 200px;}
.event_index .event.block .info {width: 300px;font: normal 14px/22px 'Arial', serif;color: #111;}
.event_index .event.block span {display:block;padding: 0px;}





/* Documents */

.document_page .document {margin: 0px auto 30px;width:600px;}

.document p {font-size: 16px; line-height: 30px; margin: 3em 0 3em 2em;font-family: 'Helvetica Neue', Helvetica serif;}
.document a {font-size: 16px; line-height: 30px; margin: 3em 0 3em 2em; font-weight: bold;text-decoration:underline;font-family: 'Helvetica Neue', Helvetica serif;}
.document .site_info {margin: 160px 0 10px;text-align:center;}
.document .site_info a, .document .site_info span {display:block;margin: 0;font-weight: normal;font-size: 10px; line-height: 12px;}
.document .site_info span {margin: 10px 0 0;}
.document .site_info a {font-size: 14px;margin: 10px 0;}
.document .links {text-align:center;}
.document .links a {font-size:22px; line-height: 40px; margin: 3em 0 3em 0em; font-weight: normal; }

