[submodule "landlord"]
	path = landlord
	url = https://github.com/wiota/landlord.git
[submodule "toolbox"]
	path = toolbox
	url = https://98fe09f356b5cde2ccdda573889f6ccafc6c41dc:x-oauth-basic@github.com/di/toolbox
