<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ilan</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />

  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static.static', filename='css/ilan.css')}}" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>

</head>


<body class='home'>



  <div id='column1'>

    <h1>Ilan Isakov</h1>
    <p>If you ask Ilan what is the point of the world, he&#8217ll say to you, &#8220;go ask a violin&#8221;</p>

    {% for item in body.succset %}
      {% include "primary/_"+item.vertex_type+".html" %}
    {% endfor %}

  </div>

  <div id='column2'>

  </div>

</div>

<script type='text/javascript'>


  $(document).ready(function(){

  });

</script>

</body>
</html>
