<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ vertex.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />

  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="/static/css/ilan.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>

</head>

<body class='vertex {{ vertex.layout }}'>

  <div id='column1'>

    <div class='predList'>
      This {{ vertex.vertex_type }} exists in all these places:<br>
      {% for item in vertex.predset %}
        {% if(item.vertex_type == 'body') %}
          <a class='predecessor' href='/'>{{ item.title }}</a>
        {% else %}
          <a class='predecessor' style="color: #{{ item.color }}" href='/vertex/{{ item.slug }}'>{{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <a class='pred'>Up</a>

    {% set item = vertex %}
    {% include "primary/_"+item.vertex_type+"_header.html" %}


    {% for item in vertex.succset %}
      {% include "primary/_"+item.vertex_type+".html" %}
    {% endfor %}

  </div>

</div>

<script type='text/javascript'>


  $(document).ready(function(){
    var predList = $('.predList');
    var pred = $('.pred');

    pred.on('click', function(){
      pred.toggleClass('show')
      predList.toggleClass('show');
    })

  });

</script>

</body>
</html>