<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Action Is Primary</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/sitewide.css')}}">
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/clock.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/imgEnlarge.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/menu.js')}}"></script>

</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
