{% extends "primary/base.html" %}
{% block content %}
  <div class='column'>
    <h1><a href='/'>Action Is Primary</a></h1>

    {% include "primary/_nav.html" %}

    <h2>
      <div class='clock'>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120"><circle fill="#FFFFFF" stroke="#000000" stroke-width="9" stroke-miterlimit="10" cx="60" cy="60" r="50"/><line fill="none" stroke="#000000" stroke-width="9" stroke-miterlimit="10" x1="57" y1="60.5" x2="102" y2="60.5"/></svg>
      </div>
      <div class='time'>3:15pm</div>
    </h2>


    <div class='dances'>
      {% for vertex in get_vertex(config, "dances").succset if vertex.vertex_type == 'dance' %}
        {% include "primary/_dance.html" %}
      {% endfor %}
    </div>

  </div>
{% endblock %}