
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />

  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/fonts.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/sitewide.css')}}">


  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/title_slide.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/layers.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/openable.js')}}"></script>



  <script type='text/javascript'>
    $(document).ready(function(){
      var a = new title_slide('.title_circle', 10, 400, '0', '-200%');
      var l = new layer('.column2', 'auto');
      var o = new openable('a.show');
    })
  </script>

  <style type="text/css">
  </style>



</head>
<body class='simulacra'>



  <div class='page'>

    <div id='nav'>
      <a>Simulacra</a>
      <a href='/category/projects'>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>


    <div class='title_circle'><h1>{{ category.title }}</h1></div>

    <a class='display_close'>close<span>X</span></a>

    <div class='column2 subnav'>
    {% for work in category.succset %}
      {% if work.succset|length > 1 and work.vertex_type == "work" %}
        {% set class = ['left', 'center', 'right'] | random() | string() %}
        <a class='{{class}} show' rel='link_{{work.id}}'>{{work.title}}</a>
      {% endif %}
    {% endfor %}
    </div>

    <div class='column1'>

      {% for item in category.succset %}
        {% if item.succset|length > 1 and item.vertex_type == 'work' %}

        <div id='display_{{item.id}}' class='work high openable'>
          <a class='show' rel='link_{{item.id}}'>
            {% for cover in item.cover %}
              <img src='{{cover.href}}?w=1000' alt='' />
            {% endfor %}
          </a>
          <div class='additional'>
            {% for media in item.succset %}
            <img src='{{media.href}}?w=1000' alt='' />
            {% endfor %}

            {% if item.title %}
              <h2>{{item.title}}</h2>
            {% endif %}

            {% if item.description %}
              <div class='description'>{{item.description|nl2br|safe}}</div>
            {% endif %}


          </div>
        </div>


        {% elif item.succset and item.vertex_type == 'work' %}

        <div class='work low'>
          <a class=''>
            <img src='{{item.succset[0].href}}?w=1000' alt='' />
          </a>
        </div>

        {% elif item.vertex_type == 'photo' %}

        <div class='photo low'>
          <a class='work low'>
            <img src='{{item.href}}?w=1000' alt='' />
          </a>
        </div>

        {% endif %}


      {% endfor %}



    </div>
  </div>

</body>
</html>
