{% extends "primary/base.html" %}
{% block content %}
    <h3 class="title">{{ work.title }}</h3>
    <p class="description">
    {% if work.description %}
        {{ work.description }}
    {% else %}
        <i>No description.</i>
    {% endif %}
    </p>
    <div class="row">
        {% if work.succset %}
            {% for medium in work.succset %}
            <div class="thumbnail">
                <img src="{{ medium.href }}?w=800"/>
            </div>
            {% endfor %}
        {% else %}
            <i>No images.</i>
        {% endif %}
    </div>
{% endblock %}
