<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />


  <link href="/static/css/ryanhinkel.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>

</head>

<body class='category {{ category.layout }}'>

  <div id='column1'>

    {% for item in category.succset %}
      <div class='item'>
        {% if not item.cover %}
          {{ item.title }}
        {% endif %}
        {% for cover in item.cover %}
          <img src='{{ cover.href }}?w=600'>
        {% endfor %}
      </div>
    {% endfor %}

  </div>

  <div id='column2'>

  </div>

</div>

<script type='text/javascript'>


  $(document).ready(function(){

  });

</script>

</body>
</html>