

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, div {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Wiota */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {color: #ff1200;}

hr {
  text-align: center;
  display: block;
  height: 1px;
  width: 15px;
  border-style: none;
  border-bottom: 1px dotted #e8eaec;
  background-color: transparent;
  margin: 1em auto;
}


/* Column -------------------------------------------------------------------- */

.column {
  position: relative;
}

.column.static {
  margin: auto;
  padding: 0 30%;
  transition: transform .5s;
}

.dynamic img {
  width: 50%;
  display: block;
  margin: 1em 25%;
}

.dynamic p {
  margin-top: 2em;
}

@media (max-width: 650px) {
  .column.static {
    padding: 0 5%;
  }
}

#column0 {
  z-index: 1;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
}

#column1 {
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  right:0;
}

#column2 {
  z-index: 200;
  background-color: rgba(255,0,255,0);
}

#column3 {
  z-index: 300;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding: 0;
  margin: 0 85% 0 5%;
}

@media (max-width: 650px) {
  #column3 {
    width: 100px;
    left: -50px;
    right: auto;
    padding: 0;
    margin:0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

#column4 {
  z-index: 300;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding: 0;
  margin: 0 45% 0 45%;
}

#column5 {
  z-index: 300;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding: 0;
  margin: 0 5% 0 85%;
}

@media (max-width: 650px) {
  #column5 {
    width: 100px;
    left:auto;
    right: -50px;
    padding: 0;
    margin:0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

#column6 {
  z-index: 400;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding:0;
  margin: 20% 55% 0 15%;
}

@media (max-width: 650px) {
  #column6 {
    margin: 90% 55% 0 5%;
  }
}

#column7 {
  z-index: 400;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding:0;
  margin: 2% 15% 0 55%;
}

  #column7 .contact {
    margin-bottom:200%;
  }

@media (max-width: 650px) {
  #column7 {
    margin: 30% 5% 0 55%;
  }
}




/* Typography -------------------------------------------------------------------- */

h1 {
  font: 400 90px/1.3 "cardo";
  text-align: center;
  text-transform: lowercase;
  color: #333;
}

.dynamic .contact {
  text-align: right;
}

.contact a {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 780px) {
  h1 {font: 400 90px/1.3 "cardo";}
  .contact a {font-size: 20px;}
}

@media (max-width: 630px) {
  h1 {font: 400 70px/1.3 "cardo";}
  .contact a {font-size: 18px;}
}

@media (max-width: 450px) {
  h1 {font: 400 70px/1.3 "cardo";}
  .contact a {font-size: 16px;}
}

.dynamic p {
  font: 400 16px/1.8 "cardo";
  text-align: justify;
}

.dynamic p.hoverable:hover {
  background-color: #fff;
  box-shadow: 0 0 0 10px #fff;
}


/* Shapes  ------------------------------------------------------------------- */

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.company_title {
  margin-top: 30%;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.circle.company_title {
  width: 90%;
  height: 0;
  padding: 0 0 90%;
  margin: 5% 5% 0;
}

.pyramid {
  position:relative;
  color: #fff;
  width: 100%;
  height:0;
  margin: 30% 0 0;
  padding: 0 0 111.111% 0;
  /* background-color: rgba(31, 100, 144, 0.5); */
}

.box.unknown {
  width: 90%;
  height: 0;
  padding: 0 0 90% 0;
  margin: 35% 5% 5%;
  background-color: #00ffe7;
  opacity: .4;
}

.company_title.ending {
  height: 100%;
  margin: 30% 0 100%;
}

/* Background Shapes */

.background.circle.company_title {
  background-color: rgba(255,255,0, 1);
}

.background.pyramid {

}

.background.box.unknown {
  background-color: #ffd2d5;
  opacity: 1;
}


/* Midground Shapes */

.midground.circle {
  height: 0;
  padding: 0 0 100% 0;
  margin-top: 30%;
  background-color: #e8eaec;
  -webkit-box-shadow: 0 0 40px rgba(255,255,255,0.4);
  box-shadow: 0 0 40px rgba(255,255,255,0.4);
}

/* Forground Shapes and Company Title */
.company_title {
  text-transform: lowercase;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.circle.company_title {
  background-color: rgba(0,0,0, .05);
}

.pyramid {}

.company_title h1 {
  position: absolute;
  top:0;
  left:0;
  right:0;
  display:none;
}

@media (max-width: 650px) {
  .company_title h1 {
    display:block;
    font-size: 100%;
  }
}


/* Company Stack */

.company_stack span {
  display:block;
}


/* Other */

  @media (max-width: 650px) {

  }

  .wiota-is-text h2 {
    color: #fff;
    font: 400 40px/1.4 "cardo";
    font-style: normal;
    text-transform: lowercase;
    margin: 0 0 0 0;
    text-align: center;
    text-indent: 0px;
  }

  .wiota-is-text {
    font: 400 25px/1.4 "helvetica neue";
    position:relative;
    text-align: center;
  }

  @media (max-width: 4000px) {
    .wiota-is-text h2 {font-size: 40px;}
    .wiota-is-text {font-size: 25px;}
  }

  @media (max-width: 1330px) {
    .wiota-is-text h2 {font-size: 33px;}
    .wiota-is-text {font-size: 21px;}
  }

  @media (max-width: 1030px) {
    .wiota-is-text h2 {font-size: 27px;}
    .wiota-is-text {font-size: 17px;}
  }

  @media (max-width: 850px) {
    .wiota-is-text h2 {font-size: 21px;}
    .wiota-is-text {font-size: 14px;}
  }

.wedo {
  position:relative;
  color: #0b2231;
  width: 80%;
  height: 0;
  padding: 10% 10% 90%;
  margin: 0% 0;
  font-size: 24px;
  line-height: 1.4;
}
  .wedo hr {
    border-bottom: 5px dotted #1f6490;
  }

  .wedo h2 {
    color: #0b2231;
    font: 400 100px/1.4 "cardo";
    font-style: normal;
    margin: 0 0 20% 0;
    text-align: center;
    text-indent: 0px;

  }

  .wedo h2 .wemake {
    color: #000;
    display:block;
    font: 400 30px/1.4 "cardo";
    font-style: italic;
    text-transform: lowercase;
  }

    @media (max-width: 4000px) {
      .wedo h2 {font-size: 100px;}
      .wedo h2 .wemake {font-size: 30px;}
      .wedo {font-size: 24px;}
    }

    @media (max-width: 1200px) {
      .wedo h2 {font-size: 80px;}
      .wedo h2 .wemake {font-size: 24px;}
      .wedo {font-size: 20px;}
    }

    @media (max-width: 1000px) {
      .wedo h2 {font-size: 60px;}
      .wedo h2 .wemake {font-size: 20px;}
      .wedo {font-size: 18px;}
    }

    @media (max-width: 850px) {
      .wedo h2 {font-size: 40px;}
      .wedo h2 .wemake {font-size: 16px;}
      .wedo {font-size: 16px;}
    }

    @media (max-width: 720px) {
      .wedo h2 {font-size: 40px; margin: 0 0 10% 0;}
    }

    @media (max-width: 450px) {
      .wedo h2 {font-size: 20px; margin: 0 0 5% 0;}
      .wedo h2 .wemake {font-size: 12px;}
      .wedo {font-size: 12px;}
    }
