p {
    width: auto;
    color:#BF5A43;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-width: 0 0 1px;
    z-index:1000;
    font-family: "Helvetica Neue", "Arial", "san-serif";
}

a {
    color:#43bf78;
}
