<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/sitewide.css">


  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>
  <script type="text/javascript" src="/static/js/column_slide.js"></script>
  <script type="text/javascript" src="/static/js/class_toggle.js"></script>


  <script type='text/javascript'>

    $(document).ready(function(){

      columnSlide('.column1', 8, 40, 20);
      classToggle('show','.project img');
    })

  </script>

  <style type="text/css">
  </style>



</head>
<body class='projects'>



  <div class='page'>

    <div id='nav'>
      <a href='/category/simulacra'>Simulacra</a>
      <a>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>

    {% include "projects/_category_subnav.html" %}

  </div>

  <div class='column1 index'>
    {% for project in category.succset %}
      {% if project.succset and project.vertex_type == 'work' %}
        <a class='project_link' href='/work/{{category.slug}}/{{project.slug}}'><img src='{{project.succset[0].href}}?w=500' alt='' /></a>

      {% endif %}
    {% endfor %}
  </div>

</body>
</html>
