<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ work.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/sitewide.css">


  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>

  <script type="text/javascript" src="/static/js/deface.js"></script>
  <script type="text/javascript" src="/static/js/stopwatch.js"></script>

  <script type="text/javascript" src="/static/js/column_slide.js"></script>
  <script type="text/javascript" src="/static/js/class_toggle.js"></script>
  <script type="text/javascript" src="/static/js/waterfall.js"></script>
  <script type="text/javascript" src="/static/js/scrub_bar.js"></script>


  <script type='text/javascript'>

    $(document).ready(function(){
      columnSlide('.column1', 8, 40, 20);
      classToggle('show','.project img');

      var w = waterfall('.project.waterfall');
      var b = scrub_bar('.waterfall_load', {
        onTrack: w.scrub_percent
      });

      sw = DEFACE.stopwatch('.stopwatch');

    })



  </script>

  <style type="text/css">
  </style>



</head>
<body class='projects'>



  <div class='page'>

    <div class='stopwatch'></div>

    <!-- waterfall interface -->
    <div class="speed_bar"></div>

    <div id='nav'>
      <a href='/category/simulacra'>Simulacra</a>
      <a>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>

    {% include "projects/_category_subnav.html" %}


    {% if work.description and work.succset and work.vertex_type == 'work' %}

    <div class='column1 full'>
      <div class='project full'>

        {% for media in work.succset %}
          <img src='{{media.href}}?w=1000' alt='' />
        {% endfor %}

        {% if work.title %}
          <h2 class='title'>{{work.title}}</h2>
        {% endif %}

        <div class='description'>{{work.description|nl2br|safe}}</div>

      </div>
    </div>

    {% elif work.succset and work.vertex_type == 'work' %}

    <div class='column1 waterfall'>
      <!-- scrub bar -->
      <div class="waterfall_load"><div class="waterfall_load_bar"></div></div>
      <div class="speed_text"></div>

      <div class='project waterfall'>

        {% for media in work.succset %}
          <div class="waterfall_item">
            <img src='{{media.href}}?w=200' alt='' />
          </div>
        {% endfor %}

      </div>
    </div>

    {% endif %}



  </div>

</body>
</html>
