<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ work.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/sitewide.css">


  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>

  <script type="text/javascript" src="/static/js/deface.js"></script>
  <script type="text/javascript" src="/static/js/stopwatch.js"></script>

  <script type="text/javascript" src="/static/js/column_slide.js"></script>
  <script type="text/javascript" src="/static/js/class_toggle.js"></script>
  <script type="text/javascript" src="/static/js/waterfall.js"></script>
  <script type="text/javascript" src="/static/js/scrub_bar.js"></script>


  <script type='text/javascript'>

    $(document).ready(function(){

      classToggle('show','.project.full img');

      // should specify column init in css
      DEFACE.column_slide('.column1', 8, 40, 20);
      w = DEFACE.waterfall('.project.waterfall', 100, 10);
      b = DEFACE.scrub_bar('.waterfall_load', '.scrub_bar', '.range_bar');
      p = $('.play').hide();


      w.on('load_progress', function(evt, percent){
        b.set_range(0, percent);
      })

      // in case images are cached and load is called before handler is attached
      if(w.complete()){
        b.set_range(0, 100);
      }

      w.on('load', function(){
        p.show();
      })

      w.on('start', function(){
        p.hide();
      })

      w.on('stop', function(){
        p.show();
      })

      w.on('scrub', function(evt, percent){
        b.set(percent);
      })

      b.on('track', function(evt, percent){
        w.scrub_percent(percent);
      })

      p.on('click', function(evt){
        w.start();
      })


    })



  </script>

  <style type="text/css">
  </style>



</head>
<body class='projects'>



  <div class='page'>

    <div class='stopwatch'></div>

    <!-- waterfall interface -->
    <div class="speed_bar"></div>

    <div id='nav'>
      <a href='/category/simulacra'>Simulacra</a>
      <a>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>

    {% include "projects/_category_subnav.html" %}


    {% if work.description and work.succset and work.vertex_type == 'work' %}

    <div class='column1 full'>
      <div class='project full'>

        {% for media in work.succset %}
          <img src='{{media.href}}?w=1000' alt='' />
        {% endfor %}

        {% if work.title %}
          <h2 class='title'>{{work.title}}</h2>
        {% endif %}

        <div class='description'>{{work.description|nl2br|safe}}</div>

      </div>
    </div>

    {% elif work.succset and work.vertex_type == 'work' %}

    <div class='column1 waterfall'>

      <!-- scrub bar -->
      <div class="waterfall_load"><div class="range_bar"></div><div class="scrub_bar"></div></div>

      <div class='play'><img src="/static/shapes/triangle_base_20.svg" id="shape" alt=""></div>

      <div class='project waterfall'>

        {% for media in work.succset %}
          <div class="waterfall_item">
            <img src='{{media.href}}?w=200' alt='' />
          </div>
        {% endfor %}

      </div>

    </div>

    {% endif %}



  </div>

</body>
</html>
