<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Maggie Casey</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../javascripts/swfobject.js"></script><script type="text/javascript" src="../javascripts/string.js"></script>
<link href="../styles/ryanhinkel.css" rel="stylesheet" type="text/css"><!--[if lte IE 6]> <link rel="stylesheet" type="text/css" href="../styles/ie.css" /> <![endif]-->
</head>

<body id='contact'>




<div id="container">
		
	<div id='contact_info'>
	<a class="left_link" href="/">Home</a>
	<h1>Maggie Casey</h1>
	<a href="mailto:caseymaggie@gmail.com">caseymaggie@gmail.com</a>

	
	</div>
		
	<div id='events'>
		<h2>Upcoming Events</h2> 
		
		<div class='newevent'>
			<p class='title'><a href="http://www.newamericanartunion.com/" target="_blank">New American Art Union</a>, Appendix Projects Collective Group Show</p>
			<p class='date'>Opening November 5th</p>
			<p class='description'>922 SE Ankeny St. Portland OR 07214</p>
		</div>
		<div class='newevent'>
			<p class='title'> <a href="http://www.cityartscenter.org/index.html" target="_blank">City Art Center</a>, Solo Exhibition</p>
			<p class='date'> March 2011-May 2011</p>
			<p class='description'> Oklahoma City, OK</p>
		</div>
		<div class='newevent'>
			<p class='title'> Innovators and Legends: Generations in Textiles and Fiber</p>
			<p class='date'> Muskegon Museun of Art, December 2012.  Exhibition tours till 2016.</p>
			<p class='description'> Will post link for dates and Museums, when available.</p>
		</div>
		
	
			
	<h2>Past Events</h2> 
		<div class='pastevent'>
			<p class='title'>Inside Twelve, 175 Gallry, In conjunction with the International Fiber Symposium</p>
			<p class='description'>Seoul, South Korea</p>
			<p class='date'>2010</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Oregon College of Art and Craft, Hoffman Gallery</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2010</p>
		</div>
	
	<div class='pastevent'>
			<p class='title'>PSU Architecture Department Resident Artist/Lecture Team</p>
			<p class='description'> Portland, Or.</p>
			<p class='date'>2009</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Installation at <a href="http://appendixspace.com" target="_blank">Appendix Project Space</a></p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2009</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Portland Open Studio Tour, Scholarship Recipient.</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>ACC Searchlight Artist</p>
			<p class='description'>Baltimore MD.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>F.U.E.L Gallery</p>
			<p class='description'>Philadelphia, PA. </p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Kitchen Sink, Step into my Office</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>TA, Haystack Mountain School of Craft</p>
			<p class='description'>Deer Isle, ME.</p>
			<p class='date'>2006</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Nexus Selects Exhibition</p>
			<p class='description'>Philadelphia, PA.</p>
			<p class='date'>2005</p>
		</div>
	</div>
	
	
		<!--
	
		<div class='pastevent'>
			<p class='title'>PSU Architecture Department Resident Artist/Lecture Team</p>
			<p class='description'> Portland, Or.</p>
			<p class='date'>2009</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Solo Installation at <a href="http://appendixspace.com" target="_blank">Appendix Project Space</a></p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2009</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Portland Open Studio Tour, Scholarship Recipient.</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Mile Post 5</p>
			<p class='description'> Portland, Or.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>ACC Searchlight Artist</p>
			<p class='description'>Baltimore MD.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>F.U.E.L Gallery</p>
			<p class='description'>Philadelphia, PA. </p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Kitchen Sink, Step into my Office</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>TA, Haystack Mountain School of Craft</p>
			<p class='description'>Deer Isle, ME.</p>
			<p class='date'>2006</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Kitchen Sink, Welcome Home Stranger</p>
			<p class='description'>Portland, Or.</p>
			<p class='date'>2006</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Nexus Selects Exhibition</p>
			<p class='description'>Philadelphia, PA.</p>
			<p class='date'>2005</p>
		</div>
	</div>
		-->
		
	<!-- EVENTS SECTION -->
	
	
	<!--
	<div id='events'>
		<h2>Upcoming Events</h2> 
		
		
		<div class='newevent'>
			<p class='title'>Portland State Architecture Department Artist in Residence</p>
			<p class='date'>Fall 2009</p>
			<p class='description'> Project is in development to be created for the schools open rooftop space</p>
		</div>
		<div class='newevent'>
			<p class='title'>Portland Open Studios Tour. 100 artist open their active studios to the public. For information visit <a href="http://www.portlandopenstudios.com/" target="_blank">Portland Open Studios</a></p>
			<p class='date'> October 10th, 11th, 17th, and 18th</p>
			<p class='description'>109 SE Salmon #101, Portland Or. 97214</p>
		</div>
		
			
	<h2>Past Events</h2> 
		<div class='pastevent'>
			<p class='title'>Solo Installation at <a href="http://appendixspace.com" target="_blank">Appendix Project Space</a></p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2009</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Portland Open Studio Tour, Scholarship Recipient.</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Mile Post 5, an Interdisciplinary Exhibit</p>
			<p class='description'> Portland, Or.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>ACC Searchlight Artist</p>
			<p class='description'>Baltimore MD.</p>
			<p class='date'>2008</p>
		</div>
		<div class='pastevent'>
			<p class='title'>F.U.E.L Gallery</p>
			<p class='description'>Philadelphia, PA. </p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Kitchen Sink, Step into my Office</p>
			<p class='description'>Portland, OR.</p>
			<p class='date'>2007</p>
		</div>
		<div class='pastevent'>
			<p class='title'>TA, Haystack Mountain School of Craft</p>
			<p class='description'>Deer Isle, ME.</p>
			<p class='date'>2006</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Kitchen Sink, Welcome Home Stranger</p>
			<p class='description'>Portland, Or.</p>
			<p class='date'>2006</p>
		</div>
		<div class='pastevent'>
			<p class='title'>Nexus Selects Exhibition</p>
			<p class='description'>Philadelphia, PA.</p>
			<p class='date'>2005</p>
		</div>
	</div>
	-->
	
	<!-- END of EVENTS SECTION -->
		
<div id="footer"></div>
</div>



</body>
</html>

