<div class='item work'>
<div class='title'>{{ vertex.title }}</div>

{% if vertex.cover %}
  <div class='cover'>
  {% for cover in vertex.cover %}
    <img src='{{ cover.href }}?w=500&h=500&function=crop_to_square'>
  {% endfor %}
  </div>


{% endif %}



</div>
<div class='slideshow' style='display:none;'>
  <a class='close'>X</a>

  <div class='display'>
  {% for item in vertex.succset %}
    {% if item.vertex_type == "photo" %}
      <div class='photo'>
        <img src='{{ item.href }}?w=500&h=300' style='display:none' id='photo_{{ item.id }}'>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <div class='info'>
    <h2>{{ vertex.title }}</h2>
    <div>{{ vertex.description }}</div>
  </div>

  <div class='thumbs'>
  {% for item in vertex.succset %}
    {% if item.vertex_type == "photo" %}
      <div class='thumb' id='thumb_{{ item.id }}'>
        <img src='{{ item.href }}?w=200&h=200&function=crop_to_square'>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>