<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico')}}" />


  <link href="{{ url_for('static', filename='css/girlsclub.css')}}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.1.5.2.js')}}"></script>


</head>

<body class='category {{ category.layout }}'>

  <div id='column1'>

    {% for vertex in category.succset %}
      <div class='item'>

        {% if vertex.vertex_type == "girl" %}
          {% include "primary/_girl.html" %}
        {% elif vertex.vertex_type == "event" %}
          {% include "primary/_event.html" %}
        {% elif vertex.vertex_type == "exhibition" %}
          {% include "primary/_exhibition.html" %}
        {# elif vertex.vertex_type == "whatever" and vertex.layout#}
          {# include vertex.layout + "/_whatever.html" #}
        {% endif %}





      </div>
    {% endfor %}

  </div>

  <div id='column2'>

  </div>

</div>

<script type='text/javascript'>


  $(document).ready(function(){

  });

</script>

</body>
</html>