<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ vertex.firstname }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />


  <link href="{{ url_for('static.static', filename='css/girlsclub.css')}}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>



</head>

<body class='vertex {{ vertex.layout }}'>

  <div class='header'>
    <div class='logo'><img src='{{ url_for('static.static', filename='img/lesgc-logo-web-white.png')}}'></div>
    <div class='bar'>
      <div class='portrait'>
        {% for cover in vertex.cover %}
          <img src='{{ cover.href }}?w=200&function=auto_level'>
        {% endfor %}
      </div>
    </div>
    <div class='nameplate'>
      <span class='firstname'>{{ vertex.firstname }}</span>
      <span class='lastname'>{{ vertex.lastname }}</span>
    </div>
    <div class='nav'>
      <a href="#work">Work</a>
      <a href="#event">Events</a>
      <a href="#exhibition">Exhibitions</a>
      <a href="#travel">Travel Events</a>
    </div>
  </div>

  <div id='work' class='block'>
    <h2>WORK</h2>
    {% for vertex in vertex.succset %}
      {% if vertex.vertex_type == "work" %}
        {% include "primary/_work.html" %}
      {% endif %}
    {% endfor %}

  </div>

  <div id='program' class='block'>
    <h2>PROGRAMS</h2>
    {% for vertex in vertex.succset %}
      {% if vertex.vertex_type == "program" %}
        {% include "primary/_program.html" %}
      {% endif %}
    {% endfor %}
  </div>

  <div id='event' class='block'>
    <h2>EVENT</h2>
    {% for vertex in vertex.succset %}
      {% if vertex.vertex_type == "event" %}
        {% include "primary/_event.html" %}
      {% endif %}
    {% endfor %}

  </div>

  <div id='exhibition' class='block'>
    <h2>EXHIBITION</h2>
    {% for vertex in vertex.succset %}
      {% if vertex.vertex_type == "exhibition" %}
        {% include "primary/_exhibition.html" %}
      {% endif %}
    {% endfor %}
  </div>


<script type='text/javascript'>
  $(document).ready(function(){
    var $blocks = $('.block');
    var $workitems = $('.work.item');
    var $workitemcovers = $workitems.find('.cover');

    $workitems.on('click', function(evt){
      var $slideshow, $all;
      $workitemcovers.hide();
      $slideshow = $(this).next('.slideshow').show();
      $all = $slideshow.find('.photo img');
      $slideshow.find('.close').on('click', function(){
        $slideshow.hide();
        $all.hide();
        $workitemcovers.show();
      })
      $slideshow.find('.thumb').on('click', function(){
        var id = $(this).attr('id').slice(6)
        $all.hide();
        $slideshow.find("#photo_"+id).show();
      })
      $slideshow.find('.photo img').first().show();
    })



  });
</script>

</body>
</html>
