<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Maggie Casey</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="../static/javascripts/swfobject.js"></script>
        <script type="text/javascript" src="../static/javascripts/string.js"></script>
        <link href="../static/styles/ryanhinkel.css" rel="stylesheet" type="text/css">
        <!--[if lte IE 6]> <link rel="stylesheet" type="text/css" href="../styles/ie.css" /> <![endif]-->
    </head>
    <body id='contact'>
        <div id="container">
            <div id='contact_info'>
                <a class="left_link" href="/">Home</a>
                <img src='../static/images/light.jpg' width='251' height='188' alt='' />
                <h1>Maggie Casey</h1>
                <a href="mailto:caseymaggie@gmail.com">caseymaggie@gmail.com</a>
                <dl>
                    <dt>Portfolio Design</dt>
                    <dd><a href="http://ryanhinkel.com/projects.php?id=3">Ryan Hinkel</a></dd>
                    <dt>Photography</dt>
                    <dd><a href="http://www.jeffreystockbridge.com/">Jeffrey Stockbridge</a></dd>
                    <dd><a href="http://www.annitracy.com/">Anni Tracy</a></dd>
                </dl>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>
