<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
    <head>
        <title>Maggie Casey</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <script type='text/javascript' src='../javascripts/swfobject.js'>
        </script>
        <script type='text/javascript' src='../javascripts/string.js'>
        </script>
        <link href='../styles/ryanhinkel.css' rel='stylesheet' type='text/css'>
        <!--[if lte IE 6]>
        <link rel='stylesheet' type='text/css' href='../styles/ie.css' />
        <![endif]-->
    </head>
    <body id='contact'>
        <div id='container'>
            <div id='contact_info'>
                <a class='left_link' href='/'>Home</a>
                <h1>Maggie Casey</h1>
                <a href='mailto:caseymaggie@gmail.com'>caseymaggie@gmail.com</a>
            </div>
            <div id='events'>
                <h2>Upcoming Events</h2>
                {% for happening in get_tag(config, 'upcoming-events') %} <div class='newevent'>
                    <p class='title'>{{ happening.title }}</p>
                    <p class='description'>{{ happening.location }}</p>
                    <p class='date'>{{ happening.date_string }}</p>
                </div>
                {% endfor %}
                <h2>Past Events</h2>
                {% for happening in get_tag(config, 'past-events') %} <div class='pastevent'>
                    <p class='title'> {{ happening.title }}</p>
                    <p class='description'> {{ happening.location }}</p>
                    <p class='date'> {{ happening.date_string }}</p>
                </div>
                {% endfor %}
            </div>
            <div id='footer'></div>
        </div>
    </body>
</html>
