<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <title>Maggie Casey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="./static/javascripts/swfobject.js"></script>
    <script type="text/javascript" src="./static/javascripts/string.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="./static/styles/ryanhinkel.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="../styles/ie.css" />
    <![endif]-->
    </head>
    <body id='home'>
        <div id="header">
            <div id="string">
            <h1>Maggie Casey</h1>
            <a href='contact'>contact info</a>
            </div>
        </div>
        <div id="container">
            {% for cat in ['installations', 'sculpture'] %}
            {% set ss = get_category(config, cat) %}
            <div id="{{ ss.slug }}">
                <h2>{{ ss.title }}</h2>
                <ul>
                    {% for w in ss.succset %}
                    <li>
                        <a href="/work/{{ ss.slug }}/{{ w.slug }}">{{ w.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div id="footer">hey what are you doing down here</div>
        </div>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">_uacct = "UA-860414-1";urchinTracker();</script>
    </body>
</html>
