<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AAXXX</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/sitewide.css">

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>
  <script type="text/javascript" src="/static/js/rapidfire.js"></script>

  <script type='text/javascript'>
    $(document).ready(function(){
      var a = new rapidfire('.frame', '.aaxxx.image','.frame', 50, true);
    // parse images
    })
  </script>

</head>
<body class='aaxxx'>

  <div class='page'>

    <!--
    <div id='nav'>
      <a>Simulacra</a>
      <a href='projects.html'>Projects</a>
      <a href='aaxxx3.html'>AA&nbsp;XXX</a>
    </div>
    -->

    <div class='frame'>
      <div class='title_triangle rotate'>
        <img class='' src="/static/shapes/triangle_base.svg" id="shape" alt="">
        <h1 class=''>AAXXX</h1>
      </div>
      <!--<b class='speed_display rotate'></b>-->
    </div>

    <div class='images'>
      {% for work in get_category(config, "aaxxx").succset %}
        {% for cover in work.cover %}
          <div class='aaxxx image'><img src='{{ cover.href }}?w=700' /></div>
        {% endfor %}
      {% endfor %}
    </div>

  </div>

</body>
</html>
