  <div class='end'></div>
  <div class='nav'>
    <h3>Wedding</h3>
    <a href='/category/weekend-s-events'>Schedule of Events</a>
    <a href='/category/what-to-bring'>What to Bring</a>

    <a href='/category/reservations'>Reservations</a>
    <a href='/category/save-the-date'>Save the Date</a>

    <h3>Other Information</h3>
    <a href='http://monheganboat.com/schedule/'>Monhegan Boat Line - Ferry Website</a>
    <a href='http://islandinnmonhegan.com/dining/'>Island Inn Dining Room</a>
    <a href='http://islandinnmonhegan.com/the-barnacle/'>Barnacle Cafe</a>
    <a href='http://monheganassociates.org/trails/map.htm'>Trail Map</a>
    <a href='https://docs.google.com/spreadsheets/d/18WvmeuErj7FGTy1un3gB3Xvn37zhq7jXn2vcyA7kfCo/edit?usp=sharing'>List of Accommodations</a>
  </div>