<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Traction Company</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico" />


  <link href="/static/css/traction.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/static/js/underscore-min.1.5.2.js"></script>

</head>

<body class='home'>

<div id="header">
  <div id="nameplate_div">
    <h1>Philadelphia Traction Company</h1>
    <a id="nameplate" href="/"><img src='/static/img/tractioncompany.png' width='258' height='18' alt='Philadelphia Traction Company' /></a>
  </div>
</div>

<div class='happenings'>

  <div class='happenings_menu'>
    {% set current = get_category_by_id(config, "54490d51a114605a5cb4636d") %}
    {% set past = get_category_by_id(config, "54490d55a114605a5cb46373") %}
    {% set shophappenings = get_category_by_id(config, "54495d51a114606f9a495bb9") %}

    {% if(current.succset) %}
    <a class='happening_tag current'>{{current.title}}</a>
    {% endif %}

    {% if(past.succset) %}
    <a class='happening_tag past'>{{past.title}}</a>
    {% endif %}

    {% if(shophappenings.succset) %}
    <a class='happening_tag shophappenings'>{{shophappenings.title}}</a>
    {% endif %}
  </div>

  <div class='happenings_display'>

      <div class='display_tag current'>
      {% for happening in current.succset if happening.succset %}
        <a href='/happening/{{ happening.slug}}'><img src='{{ happening.succset[0].resize_href }}' alt='' /></a>
      {% endfor %}
      </div>

      <div class='display_tag past'>
      {% for happening in past.succset if happening.succset %}
        <a href='/happening/{{ happening.slug}}'><img src='{{ happening.succset[0].resize_href }}' alt='' /></a>
      {% endfor %}
      </div>

      <div class='display_tag shophappenings'>
      {% for happening in shophappenings.succset if happening.succset %}
        <a href='/happening/{{ happening.slug}}'><img src='{{ happening.succset[0].resize_href }}' alt='' /></a>
      {% endfor %}
      </div>

  </div>
</div>

<div id='nav'>
  {% set artists = get_category_by_id(config, "541c2202a114600f7458b98d") %}
  {% set residents = get_category_by_id(config, "543e9174a1146015e32404ce") %}
  {% set group = get_category_by_id(config, "543848fea1146002f1f84d3b") %}
  {% set alumni = get_category_by_id(config, "54384804a1146002f1f84d1d") %}

  <h2>{{artists.title}}</h2>
  <ul>
  {% for artist in artists.succset %}

    <li class='category'><a href='/category/{{ artist.slug }}'>{{ artist.title }}</a></li>

  {% endfor %}
  </ul>

  <h2><a href='/category/{{residents.slug}}'>{{residents.title}}</a></h2>

  <h2><a href='/category/{{group.slug}}'>{{group.title}}</a></h2>

  <h2><a href='/category/{{alumni.slug}}'>{{alumni.title}}</a></h2>



</div>


<div class='about'>


  <div id='about_text'>
    <h2>About the shop:</h2>
    <p style='font-weight: bold'>Mission:</p>

    <p><em>"To provide an environment where established, emerging and transitioning artists can expand on their artistic practice in a cooperative setting."</p>

    <p><em>Through sharing tools and facilities necessary for making artwork, Traction Company promotes the exchange of the resources and knowledge of its members. This collective effort creates a wide variety of opportunities through a combined network.</p>

    <p><em>We strive to create a community of like-minded artists who are dedicated to the ongoing growth of the space while simultaneously supporting the ambitions of its individual members."</p>


    <p><b>Founded in May 2007,  Traction Company is currently a hub for the diverse work of its members, representing a wide scope of form, expression, and technique.  </p>

    <p> Join Traction Company on <a href ='https://www.facebook.com/TractionCompany'> <u>Facebook</u></a>

    <p>Contact Traction Company via <b> <a href ='mailto:info@tractioncompany.com'>info@tractioncompany.com</a> </b></p>

  </div>
</div>

<script type='text/javascript'>


  $(document).ready(function(){

    var hapmen = $('.happenings_menu .happening_tag');
    var hapdis = $('.happenings_display .display_tag');

    $.each(hapmen, function(key, val){
      var menu = $(this);
      var display = hapdis[key];

      menu.on('click', function(){
        $.each(hapdis, function(){
          $(this).hide();
        });
        $(display).fadeIn();
      });


      $(display).hide();

    });

    hapdis.first().fadeIn();

  });

</script>

</body>
</html>