<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiota</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/badge.png')}}">

    <link href="{{ url_for('static', filename='css/wiota0.css')}}" rel='stylesheet' type="text/css" media="screen">

    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53116106-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
    <body>

        <div class="column">
          <div class='arch'><hr /></div>
          <div class='circle'></div>
          <div class='company_title'>
            <h1>Wiota</h1>
            <div class="contact">
                <a href="mailto:rh@wiota.co,di@wiota.co">Contact us</a>
            </div>
          </div>
          <div class='shape_back'>
              <svg class='svg_shape_back' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <polygon style="fill: #bc00c0; fill-opacity:1; stroke: transparent; stroke-width: 0px; stroke-linejoin: round;"  points="250,66.667 500,500 0,500"/>
              </svg>
          </div>
          <div class='pyramid'>
            <div class='shape'>

              <svg class='svg_shape' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <polygon style="fill: #ffffff; stroke: transparent; stroke-width: 0px; stroke-linejoin: round;"  points="-1,66.667 -1,106.667 23.0786983614124,66.667"/>
                <polygon style="fill: #ffffff; stroke: transparent; stroke-width: 0px; stroke-linejoin: round;"  points="501,66.667 501,106.667 476.921301638588,66.667"/>
                <polygon style="fill: #fff; fill-opacity:1; stroke: transparent; stroke-width: 0px; stroke-linejoin: round;"  points="250,66.667 211.538163755106,0 288.461836244894,0"/>
                <polygon style="fill: #e62c00; fill-opacity:0.8; stroke: transparent; stroke-width: 0px; stroke-linejoin: round;"  points="250,66.667 500,500 0,500"/>
              </svg>
            </div>

            <div class='text'>
              <h2>Wiota is</h2> <br>
              a design &amp; build <br>
              company in Philadelphia.<br>
              <hr>
              <!--Wiota is on the <a href='https://github.com/wiota/'>Github</a>.<br>-->
              Wiota uses <a href='https://github.com/wiota/'>Github</a> to build.<br>
              <hr>
              Wiota is our technological arch.<br>
              <hr>
              Wiota is Ryan Hinkel and Dustin Ingram.<br>
            </div>
          </div>

          <div class="wedo">
            <h2><span class='wemake'>wiota makes</span>lime</h2>
            <div class='lime'>
              Lime binds your work together.<br><hr>
              Lime is an in-browser organization tool intended to assist in documenting work.<br><hr>
              Lime puts your body of work online.<br><hr>
              Lime is a calcium-containing inorganic material.<br>
            </div>
          </div>

          <!--
          <div class='quote_box'></div>
          <div class='quote_arch'></div>

          <div class='quote'>
            <div class='quote_text'>
              <h2><span class='open_quote'>&ldquo;</span>You say to brick, &lsquo;What do you want, brick?&rsquo; And brick says to you, &lsquo;I like an arch.&rsquo; And you say to brick, &lsquo;Look, I want one, too, but arches are expensive and I can use a concrete lintel over you, over an opening.&rsquo; And then you say: &lsquo;What do you think of that, brick?&rsquo; Brick says: &lsquo;I like an arch.&rsquo;<span class='close_quote'>&rdquo;</span></h2>
              <h3>&mdash;Louis Kahn, <em>Lecture at Pratt Institute</em></h3>
            </div>
          </div>
          -->

        </div>
    </body>
</html>
