body {
  font-size: 14px;
  font-family: 'Playfair Display', serif;
}

a {
  color: #333;
}

a:visited {
  color: #666;
}

a:hover {
  color: #33f;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 14px;
}

#column1 {
  overflow: hidden;
  position: relative;
  margin: 8% 20%;
}

/* Summary */

.header .title {
  font-size: 22px;
}

/* Predset */

.pred {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #fff;
  display:block;
  height: 32px;
  width: 32px;
  margin: 12px 0;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pred img {
  max-width: 100%;
}

.pred.show {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.predList {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.predList.show {
  height: 100px;
  visibility: visible;
  opacity: 1;
}

.predecessor {

}

/* Succset */

.item {
  margin: 5% 0;
}

.title {
  font-size: 18px;
}