<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ category.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />


  <link href="{{ url_for('static.static', filename='css/traction.css')}}" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>

</head>

<body class='portfolio'>

<div class='page'>
  <div id="header">
    <div id="nameplate_div">
    <h1>Philadelphia Traction Company</h1>
    <a id="nameplate" href="/"><img src='{{ url_for('static.static', filename='img/tractioncompany.png')}}' width='258' height='18' alt='Philadelphia Traction Company' /></a>
    </div>
    <h2><a href='/category/{{ category.slug }}'>{{category.title}}<a href=''></h2>
  </div>

  <div class='index single_column_left'>
    {% for item in work.succset %}
      {% include "primary/_category_"+item.vertex_type+".html" %}
    {% endfor %}
  </div>
</div>

<script type='text/javascript'></script>



</body>
</html>



