<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ vertex.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />


  <link href="{{ url_for('static.static', filename='css/traction.css')}}" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery-1.10.2.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>

</head>

<body class='portfolio'>

<div id="header">
  <div id="nameplate_div">
  <h1>Philadelphia Traction Company</h1>
  <a id="nameplate" href="/"><img src='{{ url_for('static.static', filename='img/tractioncompany.png')}}' width='258' height='18' alt='Philadelphia Traction Company' /></a>
  </div>
  <h2><a href='/category/{{ predecessor.slug }}'>{{predecessor.title}}</a></h2>
</div>


<div class='work_show block' id='horizontal'>

  <div class='block'>
    <img src='{{ vertex.href }}?h=500' alt='' />
  </div>

</div>

<script type='text/javascript'>


jQuery(document).ready(function() {



  // Horizontal size
  var totalWidth=0
  var margin = 20
  var row=jQuery("#horizontal")
  row.find('img').each(function(i, img){

    totalWidth += Number(jQuery(img).attr('width'))+margin;
    //alert(totalWidth)
  });

  //totalWidth += 0;


  row.css('width',totalWidth+'px')



});
</script>



</body>
</html>



