<div class='column2 subnav'>
  <a href='/category/{{category.slug}}'><h1 class='title'>{{ category.title }}</h1></a>
  {% for project in category.succset %}
    {% if project.succset and project.vertex_type == 'work' %}
      {% if work and project.slug == work.slug %}
        <a class='project_link selected' href='/work/{{category.slug}}/{{project.slug}}'>{{project.title}}</a>
      {% else %}
        <a class='project_link' href='/work/{{category.slug}}/{{project.slug}}'>{{project.title}}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
