<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ work.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="{{ url_for('static.static', filename='img/favicon.ico')}}" />

  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/fonts.css')}}">
  <link rel="stylesheet" href="{{ url_for('static.static', filename='css/sitewide.css')}}">


  <script type="text/javascript" src="{{ url_for('static.static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/underscore-min.1.5.2.js')}}"></script>

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/deface.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/stopwatch.js')}}"></script>

  <script type="text/javascript" src="{{ url_for('static.static', filename='js/column_slide.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/class_toggle.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/waterfall.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static.static', filename='js/scrub_bar.js')}}"></script>


  <script type='text/javascript'>

    $(document).ready(function(){

      classToggle('show','.project.full img');

      w = DEFACE.waterfall('.project.waterfall', 100, 10);
      b = DEFACE.scrub_bar('.waterfall_load', '.scrub_bar', '.range_bar');
      p = $('.play').hide();

      w.on('load_progress', function(evt, percent){
        b.set_range(0, percent);
      })

      // in case images are cached and load is called before handler is attached
      if(w.complete()){
        b.set_range(0, 100);
      }

      w.on('load', function(){
        p.show();
      })

      w.on('start', function(){
        p.hide();
      })

      w.on('stop', function(){
        p.show();
      })

      w.on('scrub', function(evt, percent){
        b.set(percent);
      })

      b.on('track', function(evt, percent){
        w.scrub_percent(percent);
      })

      p.on('click', function(evt){
        w.start();
      })
    })
  </script>

</head>
<body class='projects work'>
  <div class='page'>
    <div class='stopwatch'></div>

    <!-- waterfall interface -->
    <div class="speed_bar"></div>

    <div id='nav'>
      <a href='/category/simulacra'>Simulacra</a>
      <a>Projects</a>
      <a href='/'>AA&nbsp;XXX</a>
    </div>

    {% include "projects/_category_subnav.html" %}

    {% if  work.succset and work.vertex_type == 'work' %}
      <div class='column1 full'>
        <div class='project full'>
          {% if work.title %}
            <h2 class='title'>{{work.title}}</h2>
          {% endif %}
          {% if work.description %}
            <div class='description'>{{work.description|nl2br|safe}}</div>
          {% endif %}
        </div>
      </div>

      <div class='column3 waterfall'>
        <!-- scrub bar -->
        <div class="waterfall_load">
          <div class="range_bar"></div>
          <div class="scrub_bar"></div>
        </div>

        <div class='play'>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <polygon style="fill: transparent; stroke: #00aae6; stroke-width: 50px; stroke-linejoin: round;"  points="250,7.5128869403554 20,427.51288694035544 480,427.51288694035544" />
          </svg>
        </div>

        <div class='project waterfall'>
          {% for media in work.succset %}
            <div class="waterfall_item">
              <img src='{{media.href}}?w=200' alt='' />
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}


  </div>

</body>
</html>
