/* SITEWIDE MOBILE FIRST */

html {overflow-x: hidden;}

body {font-family: 'Roboto', Arial, Helvetica, 'san-serif';font-weight: bold;}

h1 {
  font-family: 'Metropolis', Arial, Helvetica, 'san-serif';
  text-transform: uppercase;
  margin: 0px;
  font-weight: normal;
  text-align: center;
  z-index: 20;
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 30px;
}

/* Shared --------------------------------------------------------- */

.description, .text {
  font-family: 'Inconsolata', Arial, Helvetica, 'san-serif';
  font-weight: 400;
}


#nav {
  position:fixed;
  z-index: 50;
  padding: 0;
  width: 132px;
  height: 132px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 14px;
  top: 2%;
  left: 2%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  /*
  -webkit-animation: rotate_back 3s ease 1;
  -moz-animation: rotate_back 3s ease 1;
  -ms-animation: rotate_back 3s ease 1;
  -o-animation: rotate_back 3s ease 1;
  animation: rotate_back 3s ease 1;
  */
  }


#nav a {
  display: block;
  padding-top: 7px;
  height:26px;
  background-color: #f5ea3d;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  }

  #nav a:hover {

  }

.subnav {
  font-family: 'Sequi', Arial, Helvetica, 'san-serif';
  font-weight: 200;
}

.subnav h1 {
  margin: 0 0;
}

.rotate {
  transition: all .2s;
}

.rotate {
  -webkit-transform: rotate(-29deg) translate(-6%, -3%);
  -moz-transform: rotate(-29deg) translate(-6%, -3%);
  -ms-transform: rotate(-29deg) translate(-6%, -3%);
  -o-transform: rotate(-29deg) translate(-6%, -3%);
}

.rotate:hover {
  -webkit-transform: scale(1.05) rotate(-29deg) translate(-6%, -3%);
  -moz-transform: scale(1.05) rotate(-29deg) translate(-6%, -3%);
  -ms-transform: scale(1.05) rotate(-29deg) translate(-6%, -3%);
  -o-transform: scale(1.05) rotate(-29deg) translate(-6%, -3%);
}

.rotate45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.happenings .happening {
  font-size: 140%;
  color: #fff;
  background-color: #00aae6;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 4% 21%;
  width: 50%;
  padding: 4%;
  font-weight: normal;
  font-family: 'Inconsolata', Arial, Helvetica, 'san-serif';
}

.happenings.hide {
  display:none;
}

.happenings .display_close {
  position:absolute;
  display: block;
  z-index: 500;
  font-size: 16px;
  top:5%;
  right: 2%;
  color:#f4827e;
}

.happenings .display_close span {
  font-size: 50px;
}

@media (max-width: 680px) {
  .happenings .happening {
    margin: 150px 2%;
    width: 88%;
  }
}

.happenings .happening .introduction {
  font-size: 90%;
}

.happenings .happening h2 {
  color: #fff;
  font-family: 'Metropolis', Arial, Helvetica, 'san-serif';
  margin: 30px 0;
}

.happenings .happening a {
  color: #b9ffff;
}

.happenings .happening div {
  color: #fff;
  text-align: left;
  margin: 4% 0;
}

.display_close {
  cursor: pointer;
  font-family: 'Sequi';
  font-weight: 600;
}

/* Projects ---------------------------------------------------------- */

.projects #nav {
  top: auto;
  bottom: 2%;
}

.projects #nav a {
  background-color: #00aae6;
  color: #fff;
}
.projects #nav a:hover {
  background-color:#fff;
  color: #00aae6;
}

.projects .subnav {
  position:absolute;
  top: 0;
  left: 2%;
  width: 20%;
  z-index: 100;
}

.projects .subnav h1 {
  font-size: 40px;
  line-height: 40px;
  color: #00aae6;
  text-align: left;
}

.projects .subnav a {
  background-color:#fff;
  color: #00aae6;
  display:block;
  font-size: 30px;
  margin: 40px 0;
  text-decoration: none;
}

.projects .subnav a.selected {
  text-align: right;
}

.projects .subnav img {
  display:none;
  width:100%;
}

@media (max-width: 680px) {
  .projects .subnav {
    position:static;
    margin: 30px 2%;
    width: 46%;
  }

  .projects .subnav a {
    background-color:#fff;
    color: #00aae6;
    display:block;
    font-size: 30px;
    margin: 10px 0;
    text-decoration: none;
  }

  .projects .subnav a.selected {
    text-align: right;
  }
}

/* phil column -------------------------- */

.projects .column1 {
  position: relative;
  width: 38%;
  padding: 40px 0 0 24%;
  float:left;
}

.projects .column1 h2 {
  margin-top:0;
}

@media (max-width: 680px) {
  .projects .column1 {
    position: absolute;
    width: 49%;
    top: 0;
    right: 0;
    padding: 20px 0 0 0%;
  }
}

/* waterfall ---------------------------- */

.projects .column3 {
  width: 36%;
  padding: 30px 0 0 2%;
  float:left;
  z-index: 16;
  cursor: pointer;
  position: relative;
}


@media (max-width: 680px) {
  .projects .column3 {
    width: 50%;
    padding: 10px 0 0 0;
    float:left;
    z-index: 16;
    cursor: pointer;
    position: relative;
  }
}

.projects .speed_text {
  position: fixed;
  top: 2%;
  right: 2%;

  color: #ee593b;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.projects .waterfall .play {
  position:absolute;
  margin: 100px 40%;
  width: 20%;
  right: 0%;
  z-index: 100;
  transition: all .5s;
  transform: scale(0.5) rotate(90deg);
  -webkit-transform: scale(0.5) rotate(90deg);
  -moz-transform: scale(0.5) rotate(90deg);
  -ms-transform: scale(0.5) rotate(90deg);
  -o-transform: scale(0.5) rotate(90deg);
}

.projects .waterfall .play:hover {
  transform: scale(1) rotate(90deg);
  -webkit-transform: scale(1) rotate(90deg);
  -moz-transform: scale(1) rotate(90deg);
  -ms-transform: scale(1) rotate(90deg);
  -o-transform: scale(1) rotate(90deg);
}

.projects .waterfall_item {opacity: 1;width: 50%; float:left; margin: 0; position:relative;}
.projects .waterfall_item.hide {display:none;}
.projects .waterfall_item img {width: 100%;display: block;}
.projects .waterfall_item.show {width: 100%;}
.projects .waterfall_item .order {display:none;position:absolute; top:0; font-size: 40px;font-weight: bold;color: #fff;}

.projects .waterfall h2 {
  margin: 10px 0;
  color: #000;
  text-align: center;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 48;
}

.projects .waterfall_load {position:fixed; z-index: 200; top: 0; left: 0; right: 0; height: 20px; margin: 0 0 7px; background-color: #f5ea3d;}
.projects .waterfall_load .scrub_bar {position:absolute; height: 20px; width: 0;background-color: #93ecc3; transition: all .2s;}
.projects .waterfall_load .range_bar {position:absolute; height: 20px; width: 0;background-color: #ffffff; transition: all .2s;}


/* Simulacra --------------------------------------------------------- */


.simulacra #nav a {
  background-color: #ff0000;
  color: #fff;
}
.simulacra #nav a:hover {
  background-color:#fff;
  color: #ff0000;
}

.simulacra .happenings .happening {
  background-color: #ff0000;
}

.simulacra .title_circle {
  z-index: 19;
  position:absolute;
  top: 200%;
  left: 0px;
  right: 0;
  background-color: rgba(160,244,244, .8);
  padding: 40% 0 40%;
  width: 80%;
  margin: -40% 10% 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;

}



.simulacra .title_circle h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin: -20px 0 0 4px;
}

.simulacra h2 {
  color:#ff0000;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin: 150px 0px;
  left: 0;
  right: 0px;
  width: 100%;
  z-index: 10;
  font-family: 'Sequi';
  font-weight: 200;
  }

.simulacra .subnav {
  pointer-events:none;
  position:fixed;
  top:  0;
  left: 0;
  right:0;
  margin: 300px 0 0;
  z-index: 11;
}

.simulacra .subnav a{
  pointer-events:auto;
  display:block;
  margin: 100px 2%;
  color:#f4827e;
  font-size: 70px;
  text-align: center;
  cursor: pointer;
}
  .simulacra .subnav a:hover {
    color: #ffffff;
  }


.simulacra .subnav a.left {text-align: left;}
.simulacra .subnav a.center {text-align: center;}
.simulacra .subnav a.right {text-align: right;}

.simulacra .display_close.simulacra  {
  display:none;
  position:fixed;
  z-index: 500;
  font-size: 20px;
  top:5%;
  right: 5%;
  color:#f4827e;
}
  .simulacra .display_close.simulacra:hover {
    color: #5bce52;
  }
.simulacra .display_close.simulacra span {
  font-size: 200px;
}



.simulacra .page {margin: 30% 0 30% 0%;overflow: hidden;}
.simulacra .column1 {z-index: 5;}

.simulacra .work {margin:10% 2%;}

.simulacra .work a {display:block;}
.simulacra .work img {width: 100%;display:block;}

.simulacra .work .show {
  cursor: pointer;
}

.simulacra .work .additional {
  display:none;
  overflow: scroll;
}
.simulacra .work .additional img {
  float: right;
  width: 60%;
  margin: 2% 0 0 2%;
}

.simulacra .work .description {
  text-align: justify;
}


.simulacra .column1.single .work {opacity: 0;}
.simulacra .column1.single .work.open {opacity: 1;}

.simulacra .column1.single .work.open .show {display:none;}
.simulacra .column1.single .work.open .additional {display:block;}
.simulacra .column1.single .work.open.high {}


@media (min-width: 480px) {
  .simulacra .work {max-width: 800px;float:right;}
  .simulacra .work.high {width:47%; margin: 8% 2% 0 0;}
  .simulacra .work.low {display:block;width:22.5%; margin: 8% 2% 0 0;}


  .simulacra .title_circle {
    top: 50%;
    padding: 25% 0 25%;
    width: 50%;
    margin: -25% 25% 0;
    }

}

/* AAXXX --------------------------------------------------------- */

.aaxxx #nav {
  left: auto;
  right: 2%;
  top: auto;
  bottom: 2%;
}

.aaxxx #nav a {
  background-color: #0098db;
  color: #fff;
}
.aaxxx #nav a:hover {
  background-color:#fff;
  color: #0098db;
}

.aaxxx .frame {
  border-style: none;
  position:absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 16;
  cursor: pointer;
  overflow: hidden;
}

.aaxxx .title_triangle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 0;
  margin: -50% 0 0 -50%;
  padding: 0 0 100%;

}

.aaxxx #shape {
  position:absolute;
  top: 0%;
  left: 0%;
  display:block;
  margin: 0 auto;
  height: 100%;
}

.aaxxx h1 {
  color: #f5ea3d;
  position: absolute;
  font-size: 60px;
  top: 58%;
  left: 50%;
  margin-left: -67px;
}

.aaxxx .speed_text {

  font-size: 40px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Bazar';

  padding: 30px 0 0;
  width: 120px;
  height: 90px;


  z-index: 21;
  display:block;

}

.speed_bar {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  background-color: #b9ffff;
  color:#fff;
  z-index: 15;
}
.aaxxx .speed_text {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 500;
  color: #ee593b;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}


.aaxxx.image {width: 50%; margin: 20% 25%;}
.aaxxx.image.hide {display:none;}
.aaxxx.image img {width: 100%;}

@media (min-width: 480px) {
  .aaxxx #shape {
    top: 25%;
    left: 25%;
    height: 50%;
  }

  .aaxxx h1 {
    font-size: 60px;
    top: 58%;
    left: 50%;
    margin-left: -67px;
  }

}

/* Contact  --------------------------------------------------------- */

.contact #nav {
  left: auto;
  right: 2%;
}

.contact #nav a {
  background-color: #fff;
  color: #000;
}

.contact #nav a:hover {
  background-color:#000;
  color: #fff;
}

.contact .column1 {
  position: relative;
  width: 38%;
  padding: 40px 0 0 24%;
  float:left;
}


@media (max-width: 680px) {
  .contact .column1 {
    position: absolute;
    width: 49%;
    top: 0;
    right: 0;
    padding: 20px 0 0 0%;
  }
}

.contact h1 {
  position: absolute;
  top: 0;
  left: 2%;
  margin: 40px 0;
  font-size: 40px;
  line-height: 40px;
}

.contact .column1 img {
  width: 50%;
  margin: 20px 25%;
}

.contact .column1 .text {
  margin: 20px 0;
}

.contact .happenings .happening {
  background-color: #000;
  color: #fff;
}
